{% load static %}
<!-- footer -->
 <footer class="footer">
    <div class="container">
      <div class="row newsletter align-items-center">
        <div class="col-lg-6 r-mb">
          <h5>Subscribe Our Newsletter to Get More Updates</h5>
        </div>
        <div class="col-lg-6 d-end">
          <input type="text" placeholder="Enter Email">
          <a href="#" class="button header-cta newsletter-btn">Submit</a>
        </div>
      </div>

      <div class="row widgets">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget">
            <a href='home-1.html'>
              <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
            <p>Never Miss out on a Moment
              with us
              We provide assistance related to business registration, legal and regulatory compliance and tax filing to offer a seamless business journey to clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-center">
          <div class="widget w-text">
            <h5>Need Help?</h5>
            <ul>
              <li><a href="#">Support</a></li>
              <li><a href="#">Get Started</a></li>
              <li><a href="#">Terms Of use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-center">
          <div class="widget w-text">
            <h5>Learn More</h5>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Feature</a></li>
              <li><a href="#">Customer</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-center">
          <div class="widget w-text">
            <h5>Location</h5>
            <ul>
              <li><a href="#">2nd Floor, Nirappukattil Building, Civil Line Rd, Chembumukku,
                Vazhakkala, Kochi, Kerala 682030</li>
              <li><a href="#">bizinsightoffice@gmail.com<br>
                8075929458</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-menu text-center">
            <p>© 2022 <span>Befeis</span>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- back to top button -->
  <div class="top-btn ">
    <i class="fas fa-chevron-up "></i>
  </div>
